<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/control.js"></script>
    <script src="../javascripts/nav.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/init.css">
    <title>HomeControl - Control</title>
</head>
<body>
    <header id="head">
        <nav class="navbar">
            <div class="logo">Home Control</div>
            <div class="nav">
                <nav class="nav-item" id="btn-control" >Nuevo Usuario</nav>
                <nav class="nav-item" id="btn-back" >Inicio</nav>
                <nav class="nav-item" id="btn-salir">Salir</nav>
            </div>
        </nav>
    <main>
        <div class="controlTemp">
            <p>Alertas por tempreatura</p>
            <p>Introduzca un valor minimo y maximo para recibir alertas</p>
            <form action="/control/dataTemp" method="GET">
                <input type="number" name="mxTemp" id="mxTemp">
                <label for="mxTemp">Temperatura maxima</label>
                <br>
                <input type="number" name="mnTemp" id="mnTemp">
                <label for="mnTemp">Temperatura minima</label>
                <br>
                <input type="button" id="btnSend" value="Guardar">
            </form>
        </div>
    </main>
    </header>

</body>
</html>